<div class="panel panael-primary">
    <div class="panel-heading">
        <h2>Project Request List</h2>
    </div>
    
    <div class="panel-body">
        <div class="table table-striped">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Request Id</th>
                        <th>Specialization</th>
                        <th>Project Id</th>
                        <th>Action</th>
                        <!-- <th>Qualification</th>
                        <th>No of Required Employee</th>
                        <th>Request Status</th> -->
                    </tr>
    
                </thead>
                <tbody>
                    <tr *ngFor="let req of request | async">
                        <td>{{req.requestId}}</td>
                        <td>{{req.specialization}}</td>
                        <td>{{req.projectdetails.projectId}}</td>
                        <!-- <td>{{req.qualification}}</td>
                        <td>{{req.noOfRequiredEmployee}}</td>
                        <td>{{req.request_status}}</td> -->

                        <td>
                            <!-- <button (click)="deleteRequest(req.requestId)" class="btn btn-danger">Delete</button> -->
                            <button (click)="requestDetails(req.requestId)" class="btn btn-info" style="margin-left: 10px;">Details</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
